@tailwind base;
@tailwind components;
@tailwind utilities;
#__next {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #282828;
  @apply flex flex-col overflow-hidden;
}

.brand {
  @apply text-white text-2xl font-medium;
}
.nav {
  @apply w-screen p-4 flex items-center justify-center text-white;
}